section {
    width: 99vw;
    height: 100vh;
    padding: 5vh 5vw;
    box-sizing: border-box;
    /*overflow: hidden;*/
    background-position: right 5vw top 5vh;
    background-repeat: no-repeat;
    background-image: url('logobasic.png');

    font-family: Tahoma;
    display: none;
    font-size: 5vh;
}


section:target {
    display: block;
}
section.inverted {
    background-color: #2D2E82;
    color: #fff;
    background-image: url('logoinverted.png')
}
section.inverted h1 {
    color: #fff;
}

body {
    margin: 0;
    padding: 0;
}
section > code {
    font-family: Tahoma;
}

h1, h2, h3 {
    font-size: 8vh;
    color: #2B3990;
    font-weight: normal;
}
h2 {
    font-size: 7vh;
}
h2 {
    font-size: 6vh;
}

li {
    line-height: 200%;
}

section.compact li {
    line-height: 150%;
}
