section {
    width: 99vw;
    height: 100vh;
    padding: 5vh 5vw;
    box-sizing: border-box;
    /*overflow: hidden;*/
    background-position: right 5vw top 5vh;
    background-repeat: no-repeat;
    background-image: url('logobasic.png');

    font-family: Tahoma;
    display: none;
    font-size: 5vh;
    line-height: 200%;
}


section:target {
    display: block;
}

body {
    margin: 0;
    padding: 0;
}
section > code {
    font-family: Tahoma;
}

h1, h2, h3 {
    font-size: 8vh;
    color: #2B3990;
    font-weight: normal;
}
h2 {
    font-size: 7vh;
}
h2 {
    font-size: 6vh;
}

/* Compact */
.compact {
    line-height: 150%;
}

/* Inverted */
.inverted {
    background-color: #2D2E82;
    color: #fff;
    background-image: url('logoinverted.png')
}
.inverted h1, .inverted h2, .inverted h3 {
    color: #fff;
}

/* Print */
@media print {
    section, .inverted {
        display: block;
        background-color: #fff;
        color: #000;
        background-image: none;
        padding: 2vh 2vw;
        line-height: 150%;
    }
    h1, h2, h3, .inverted h1, .inverted h2, .inverted h3 {
        color: #000;
    }
    
    .compact {
        line-height: 120%;
    }
    
}