<!DOCTYPE html>
<html lang="{{ .Params.LanguageCode }}">

<head>
  <title>{{ .Title }} - {{ .Site.Params.WebName }}</title>
  {{ partial "head.html" . }}
</head>

<body>
  {{ partial "header.html" . }}
  <div class="container">

    {{ if .Title }}
      {{ if eq .Data.Singular "tag" }}
        <h1>#{{ .Title }}</h1>    
      {{else}}
        <h1>{{ .Title }}</h1>
      {{ end }}
    {{ end }}

    <div>
      {{ $paginator := .Paginate .Data.Pages }} {{ range $paginator.Pages }}
        {{ partial "articles/summary.html" . }}
      {{ end }}
    </div>
        
  </div>
  {{ partial "footer.html" . }}

</body>

</html>